* {
margin: 0;
box-sizing: border-box;
font-family: sans-serif;
}

h3 {text-align:  center}

h4 {margin-bottom: 10px}

.pre-footer {
max-width: 1000px;
margin-inline: auto;
padding: 40px 0;
}

.pre-footer-box {
margin: 20px 0;
}

.main-footer {
background-color: #002540;
color: #fff;
padding:  20px 10px;
}

.main-footer-box {
display:  inline-block;
width: 24.5%;

}

.main-footer ul {
padding: 0;
margin: 0;
}
.main-footer li {
list-style:  none;
margin: 5px 0;
}

.main-footer li,
.copyright {
font-size: 14px;
}

.copyright {
padding: 10px;
}

